@model PagedCategoryResult

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = (Model.Page - 1) * Model.PageSize + 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Kategoriler</h4>
                    </div>
                    <div class="card-body">
                        <a href="/Category/Create" class="btn btn-success float-right">Ekle</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Name</td>
                                        <td><a href="/Category/Delete/@item.Id" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Category/Update/@item.Id" class="btn btn-info">Güncelle</a></td>
                                    </tr>
                                    count++;
                                }
                            </tbody>

                        </table>
                        <ul class="pagination">
                            <li class="page-item @(Model.Page <= 1 ? "disabled" : "")">
                                <a class="page-link" href="?page=@(Model.Page - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.Page ? "active" : "")">
                                    <a class="page-link" href="?page=@i">@i</a>
                                </li>
                            }

                            <li class="page-item @(Model.Page >= Model.TotalPages ? "disabled" : "")">
                                <a class="page-link" href="?page=@(Model.Page + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
